body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body{
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

body{ 
    background-image: url("images/body-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed; 
    background-color: rgba(255, 112, 93);
}

.main_container{
    font-family: Arial, sans-serif;
    font-size: 20px;

    width: 300px;

    padding:25px;

    border: 0;
    border-radius: 10%;

    box-shadow: 0 16px 32px rgba(49, 49, 49, 0.7);

    background-color: rgb(17, 47, 51, 0.15);
}

