<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/specifiedStyles/gamingPC.css}" />
    <title>Gaming PCs</title>
</head>
<body>
<form action="/gamingPCInformations" method="get">
    <h2>Choose:</h2>
    <select name="gamingPCs" id="gamingPCs">
        <option th:each="gamingPC : ${gamingPCs}" th:value="${gamingPCs}" th:text="${gamingPCs}"></option>
    </select>
    <button type="submit" class="submit" id="submit" name="action" value="submitShop"><b>Submit</b></button>
</form>
</body>
</html>