<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/specifiedStyles/gamingPC.css}" />
    <title>Gaming PCs</title>
</head>
<body>
<form action="/gamingPCInformations" method="get">
    <h2>Choose:</h2>
    <select name="cpus" id="cpus">
        <option th:each="cpu : ${cpus}" th:value="${cpu}" th:text="${cpu}"></option>
    </select>

    <select name="gpus" id="gpus">
        <option th:each="gpu : ${gpus}" th:value="${gpu}" th:text="${gpu}"></option>
    </select>

    <select name="rams" id="rams">
        <option th:each="ram : ${rams}" th:value="${ram}" th:text="${ram}"></option>
    </select>

    <select name="coolings" id="coolings">
        <option th:each="cooling : ${coolings}" th:value="${cooling}" th:text="${cooling}"></option>
    </select>
    <button type="submit" class="submitPC" id="submitPC" name="action" value="submit"><b>Submit</b></button>
</form>
</body>
</html>