<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Homepage</title>
</head>
<header>
    <h1>
    </h1>
</header>
<body>
<div class="main">
    <div class="main_container">
        <form id="homepage_form" action="/homepage_form" method="get">
            <p>
                <button type="submit" class="officePC" name="action" id="officePC" value="officePC"><b>OFFICE PC</b></button>
                <button type="submit" class="officeNB" name="action" id="officeNB" value="officeNB"><b>OFFICE NOTEBOOK</b></button>
                <button type="submit" class="gamingPC" name="action" id="gamingPC" value="gamingPC"><b>GAMING PC</b></button>
                <button type="submit" class="gamingNB" name="action" id="gamingNB" value="gamingNB"><b>GAMING NOTEBOOK</b></button>
            </p>
        </form>
    </div>
</div>
</body>
</html>