<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/specifiedStyles/officeNB.css}" />
    <title>Gaming Notebooks</title>
</head>
    <body>
        <form action="/officeNotebookInformations" method="get">
            <h2>Choose:</h2>
            <select name="officeNotebooks" id="officeNotebooks">
                <option th:each="officeNotebook : ${officeNotebooks}" th:value="${officeNotebooks}" th:text="${officeNotebooks}"></option>
            </select>
            <button type="submit" class="submit" id="submit" name="action" value="submitShop"><b>Submit</b></button>
        </form>
    </body>
</html>