<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/specifiedStyles/officePC.css}" />
    <title>Office PC</title>
</head>
    <body>
        <form action="/officePCInformations" method="get">
            <h2>Choose:</h2>
            <select name="cpus" id="cpus">
                <option th:each="cpu : ${cpus}" th:value="${cpu}" th:text="${cpu}"></option>
            </select>
            <select name="rams" id="rams">
                <option th:each="ram : ${rams}" th:value="${ram}" th:text="${ram}"></option>
            </select>
            <button type="submit" class="submit" id="submit" name="action" value="submitShop"><b>Submit</b></button>
        </form>
    </body>
</html>